@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    font-family: 'Hanken Grotesk', sans-serif;

    --light-red: hsl(0, 100%, 67%);
    --orange-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);

    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-laventer: hsl(241, 100%, 89%);
    --dark-grey-blue: hsl(224, 30%, 27%);

    /* gradients */

    --light-slate-blue: hsl(252, 100%, 67%);
    --light-royal-blue: hsl(241, 81%, 54%);

    --violet-blue: hsla(256, 72%, 46%, 1);
    --persian-blue: hsla(241, 72%, 46%, 0.1);
}

body {
    font-size: 1.8rem;
    width: 100vw;
    height: 100vh;
}

main {
    width: 100%;
}

.result-container {
    width: 100%;
    background-image: linear-gradient(to bottom, var(--light-slate-blue), var(--light-royal-blue));
    padding: 2rem;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    border-radius: 0 0 40px 40px;
}
.rating {
    border-radius: 50%;
    padding: 2rem 3rem;
    background: var(--cobalt-blue);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(to bottom, var(--violet-blue), var(--light-royal-blue));
}

.rating-number {
    font-size: 4rem;
}

.max-rating {
    font-size: 1.4rem;
}

.rating > p,
.description > p {
    text-align: center;
}


.result-container > p,
.description > p,
.max-rating {
    color: var(--light-laventer);
}

#condition {
    font-size: 1.8rem;
    letter-spacing: 1px;
}

.description > #condition,
.rating-number {
    color: var(--white);
    font-weight: bold;
}

.summary {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2.6rem;
}

.resume-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.resume-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
}

.item {
    display: flex;
    justify-content: space-between; 
    align-items: center;

    padding: 1.5rem;

    background: hsla(0, 100%, 67%, 0.1);
    height: 4.4rem;
    border-radius: 10px;
}

.item > .icon{
    display: flex;
    gap: 0.7rem;
}

.actual-rating > span {
    color: var(--light-laventer);
}

button {
    width: 100%;
    padding: 1.5rem;
    background: var(--dark-grey-blue);
    border: transparent;
    border-radius: 20px;
    
    color: var(--white);

    font-weight: bold;
    cursor: pointer;
}